.loginPage {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.droit{
    margin-right: 40px;
}
.homepage{
    background: #3d3d3d;/* F4EDE8 */
}
.nameSpace{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aba7a7;/* aba7a7 */
}
/* .cardLeny{
    filter: grayscale(80%);
} */
.image{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}
.cardLg{
    width: 400px;
    height: 400px;
}
.bas{
    bottom: 0;
}
.wrapper{
    display: flex;
    align-items: center;
    border: 1px black solid;
    width: 100%;
    border-radius: 5px;
    padding: 2px;
}
#password:focus{
    outline: none;
}
#password, #repass{
    width: 100%;
    border: none;
    border-right: 0.25px rgb(88, 81, 81) solid;
}
#visiblity-toggle, #re-visiblity-toggle{
    color: grey;
    cursor: pointer;
    margin: 0 2px;
}
@media screen and (min-width: 768px) {
    .hei{
        height : 200px;
    }
}